body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: fantasy;
  margin: 0;
  border: 0;
  padding: 0;
  background: radial-gradient(circle,#A997DF  10%, #FFC857 100%);
}

.log-in-page {
  display: flex;
  width: 50vw;
  height: 50vh;
  background-color: aquamarine;
  box-shadow: 10px 10px 5px #888888;
}

.navigation-bar {
  display:flex;
  width: 100vw;
  height: 20vh;
  background-color: #2E4052;
  align-content: space-around;
  justify-content: space-between;


}

h1 {
font-size: 48px;
color: azure;
margin-left: 2vw;
margin-bottom: 11vh;
}

h2 {
font-size: 38px;
font-weight: 500;
color: #003535;
margin-left: 32vw;

}

.nav-logo, .login-logo {
width: 12vw;
height: 20vh;
box-shadow: 10px 10px 5px #888888;
}

.dashboard {
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: flex-start;
width: 100vw;
height: 80vh;
background: radial-gradient(circle, #A997DF 0%, #FFC857 100%);
box-shadow: 10px 10px 5px #888888;
align-items: center;
}

.friendly-staff {
  width: 30vw;
  height: 55vh;
  opacity: 0.8;
  margin-top: 2vh;
  margin-left: 5vw;
  border: 5px solid #929084;
  box-shadow: 10px 10px 5px #888888;
}

.past-future-bookings {
  width: 10vw;
  height: 10vh;
  background-color: rgb(177, 226, 43);
  box-shadow: 10px 10px 5px #888888;
}

.calander-for-booking-container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30vw;
  height: 30vh;
  background-color: rgb(226, 43, 159);
  box-shadow: 10px 10px 5px #888888;
  margin-right: 8vw;
}















.hidden {
  display: none;
}